*{
    margin: 0;
}

body{
    background-color: #838383;
}
header{
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.logo{
    width:8.9%;
    position: relative;
    left:25px;
}
.logo:active{
    width:8.9%;
    position: relative;
    left:25px;
    transform: rotate(180deg);
    transition: 20.03s;
}
nav{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
a{
    
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color:#b1afaf
}
a:hover{
    text-decoration: none;
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    animation:anim1 3s 1;
    animation-timing-function:ease-out;
    color:#b1afaf;
}
.map{
    background-color: white;
    flex:4;
}

#imginfo{
    width:75%;
    border: 5px ridge black;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}

.info{
    flex:1;
    padding: 10px 20px;
    color: #f4f4f4;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
    font-size:16px;
}
.text{
    color:black;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.text:hover{
    color:black;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.imghistory{
    width: 40%;
    border: 5px ridge black;
    position: sticky;
}
.textinfo{
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
    font-size:16px;
}
footer{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 5px 5px;
    animation:anim3 3s infinite;
    animation-delay:1s;
    animation-direction:alternate;
}

@keyframes anim1 {
    0%{
        font-size: 24px;
    }
    50%{
        font-size: 28px;
    }
    100%{
        font-size: 28px;
    }
}
@keyframes anim3 {
    0%{
        color:black;
    }
    50%{
        color:green;
    }
    100%{
        color:black;
    }
}
